<div class="task-container">
<div class="title-small">New</div>

  <div class="input">
    <app-input></app-input>
  </div>


  <div class="status">
    <button>to do</button>
    <button>in progress</button>
    <button>done</button>

  </div>
  <div class="toggle">
    <app-toggle></app-toggle>
    <app-toggle></app-toggle>
    <app-toggle></app-toggle>
    <app-toggle></app-toggle>
  </div>

  <img class="logo" src="assets/mountains/green-mountain.svg">

  <div class="footer">
    <button class="delete">Delete</button>
    <button class="cancel">Cancel</button>
    <button class="save">Save</button>
  </div>
</div>
