@import "../../colors";

.landing-container{
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #CDEDFF, rgba(217, 217, 217, 0));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #CDEDFF, rgba(217, 217, 217, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;



  button {
    width: 90%;
    box-sizing: border-box;
    padding: 14px 16px;
    background-color: $blue-regular;
    color: $white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
  }

}
