/* You can add global styles to this file, and also import other style files */
body, html {
  padding: 0;
  margin: 0;
  height: calc(100% - 20px); // todo adjust height for mobile app
  width: 100%;
  font-family: Inter, sans-serif;
}

button {
  font-family: Inter, sans-serif;

}

$blue: #0983C8;
